/* * {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  cursor: default;
}

html {
  font-size: 62.5%;
}

/* 1 REM = 10px 
body {
  font-size: 1rem;
  font-family: "Orkney", sans-serif;
} */
 .footer p{
  cursor: pointer;
 }
 /* .desc_icon div:hover {
  filter: invert(1);
  background-color: #DB4444;
  color: black;
}

.desc_icon div:hover img {
  filter: invert(1);
} */
